/* =================================
* Button Elements
* @version: 1.0
* @author: Jabari Holder
==================================== */

.btn {
    font-size: 0.8em;
    cursor: pointer;
    border: none;
    padding: 1em 2em;
    border-radius: 0.3em;
}

.btn .btn-type-1 {
    color: #585858;
    background: #FFFFFF;
}

.btn .btn-type-1:hover, .btn .btn-type-1:active {
    background: #CCCCCC;
}
