/* =================================
* Feed List Componenet
* @version: 1.0
* @author: Jabari Holder
==================================== */

.feed-list {
    padding: 0.5em 0;
    background: #f6f6ef;
}

.feed-list ol {
    margin: 0;
    padding-left: 1em;
}

.feed-list li {
    margin-top: 0.7em;
}

.feed-list .upvote, .feed-list .item-info {
    display: inline-block;
}

.feed-list .item-info {
    vertical-align: top;
}

.feed-list .upvote .arrow {
    transform: scale(1.6,1.6);
    background: url(../../img/upvote-arrow.gif) no-repeat;
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 2px;
}

.feed-list .item .title {
    display: inline-block;
}

.feed-list .item .title h1 {
    display: inline-block;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

.feed-list .item .title a h1 {
    color: #000;
}

.feed-list .item .title .source {
    display: inline-block;
    font-size: 0.7em;
    color: #888;
}

.feed-list .item .metadata, .feed-list .item .metadata a {
    font-weight: 300;
    margin-top: 0.2em;
    color: #888;
    font-size: 0.9em;
}

.feed-list .item .metadata a:hover {
    text-decoration: underline;
}

.feed-list .item .metadata div {
    display: inline-block;
}
