/* =================================
* Header Component
* @version: 1.0
* @author: Jabari Holder
==================================== */

header {
    position: relative;
    margin-top: 1em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    background: #FF6600;
}

header .logo-container {
    max-width: 8em;
}

header .logo-container img {
    border: solid 1px #FFFFFF;
    width: 1em;
}

header .logo-container .title {
    font-weight: bold;
    vertical-align: top;
}
