/* =================================
* Navigation Component
* @version: 1.0
* @author: Jabari Holder
==================================== */

nav.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.top-navigation ul li {
    font-size: 0.9em;
    display: inline-block;
}

nav.top-navigation ul li a {
    color: #000000;
    display: block;
    padding: 0 0.3em;
    text-decoration: none;
}
