/* =================================
* Grid Layout
* @version: 1.0
* @author: Jabari Holder
==================================== */

.block:after {
  content: "";
  display: table;
  clear: both;
}

.block {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.block.no-padding [class*="col-"] {
    padding: 0;
}

[class*="col-"] {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 1.2em;
}

[class*="col-"].pull-right {
    float: right;
}

.col-12 {
    width:100%;
}

.col-11 {
    width:91.333%;
}

.col-10 {
    width:82.666667%;
}

.col-9 {
    width:74%;
}

.col-8 {
    width:65.333%;
}

.col-7 {
    width:56.666%;
}

.col-6 {
    width:48%;
}

.col-5 {
    width:39.333%;
}

.col-4 {
    width:30.666%;
}

.col-3 {
    width:25%;
}

.col-2 {
    width:13.333%;
}

.col-1 {
    width:4.666%;
}

.offset-1 {
    margin-left: 8.66666666667%;
}

.offset-2 {
    margin-left: 17.3333333333%;
}

.offset-3 {
    margin-left: 26%;
}

.offset-4{
    margin-left: 34.6666666667%;
}
