/* =================================
* Base App
* @version: 1.0
* @author: Jabari Holder
==================================== */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    max-width: 840px;
    margin: 0 auto 0 auto;
    padding:0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.text-right {
    text-align: right;
}
