/* =================================
* Media Queries
* @version: 1.0
* @author: Jabari Holder
==================================== */

/* Up to Phablet / Tablet */
@media (max-width: 839px) {
    header {
        margin-top: 0 !important;
    }
    header .logo-container, header .top-navigation {
        width: 100%;
    }

    header .login-button {
        position: absolute;
        top: 20%;
    }
}
